
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

       <li class="nav-item dropdown">
        <div class="dropdown text-left">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Customer
          </button>

          <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
            {% for cust in customer %}
              <li><a href="{{ path('orderlist', {'customer': cust.name})}}" data-value="action" id="{{cust.value}}">{{cust.name}}</a></li>
            {% endfor %}
          </ul>

        </div>
      </li>
     </ul>
    </div>
  </div>
</nav>


